{
  "all": true,
  "reporter": "VersoriumX",
  "exclude": [
    "**/node_modules/**",
    "**/.tmp",
    "**/scripts/**",
    "**/test/**",
    "**/build/**",
    "**/dist/**",
    "**/webpack",
    "**/*webpack.config*",
    "notes/"
  ]
}
